.switcher {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-white);
  text-align: center;
}

.switcher_button {
  color: var(--color-brand);
  font-weight: var(--weight-500);
}