@import "~@betnomi/libs/assets/styles/variables";
@import "~@betnomi/libs/assets/styles/mixins";

.page {
  padding: 40px $main_layout_padding 32px $main_layout_padding ;
  max-width: 1500px;
  margin: 0 auto;

  @media(max-width: 768px)  {
    padding: 25px 15px;

    h4{
      font-size: 18px;
    }
  }
}

.list {
  &:not(:last-child){
    margin-bottom: 32px;
  }
}

.title{
  margin-bottom: 22px;
}


.mustPlayList{
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

  .listItem{
    width: 100%;
    height: 220px;
    border-radius: 12px;
    background-color: var(--color-gray-40);
    position: relative;
    cursor: pointer;

    &:first-child{
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &:hover{
      .overlay{
        opacity: 1;
      }
    }

    &.listItemBanner{
      background:  url("../../../../libs/assets/img/Union.png")no-repeat top right/contain, var(--color-black);
      padding: 24px;
      display: flex;
      flex-direction: column;

      .popularIcon{
        width: 48px;
        height: 48px;
        background-color: var(--color-brand);
        @include flexbox(center, center);
        border-radius: 12px;
      }

      .playOver{
        max-width: 220px;
      }

      & > div{
        margin-top: auto;
        @include flexbox(center, space-between);

        i{
          color: var(--color-button);;
        }

        i:before{
          margin: 0;
        }
      }

      .games{
        color: var(--color-brand);
      }
    }
  }

}


.banners{

  :global {
    .swiper-slide {
      & >  img {
        height: 280px;

        @media(max-width: 768px)  {
          height: 240px;
        }
      }
    }
  }
}