.user {
  margin-bottom: 12px;
}

.password {
  margin-bottom: 17px;
}

.restore_button {
  font-family: Inter;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-button);
  margin-bottom: 25px;
}

.submit_button {
  width: 100%;
  margin-bottom: 15px;
}

.background {
  background-color: var(--color-input-background);
}



