@import "~@betnomi/libs/assets/styles/_variables";
@import "~@betnomi/libs/assets/styles/_mixins";

.out {
  background: var(--color-menu-lang-switch);
  border-radius: 6px;

  .active & {
    padding: 10px;
  }

  i{
    margin: 16px;
  }
}

.text {
  color: var(--color-white);
  font-size: 14px;
  line-height: 21px;
}



