@import "~@betnomi/libs/assets/styles/variables";
@import "~@betnomi/libs/assets/styles/mixins";


.progressbar {
  width: 100%;
  height: 3px;
  position: relative;
  background: #272B3F;
  margin-bottom: 8px;

  & > span {
    display: block;
    height: 100%;
    background-color: var(--color-brand);
    position: relative;
    overflow: hidden;
  }
}

.loadMore{
  @include flexbox(center, center);
  flex-direction: column;
  max-width: 180px;
  margin: 0 auto;

  .displaying{
    margin-bottom: 15px;
    color: var(--color-button);
    font-size: 12px;

    .whiteText{
      color: #fff;
    }
    .greenText{
      color: var(--color-brand);
    }
  }

  button{
    padding: 10px 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    background: var(--color-background-mesg);
    border-radius: 8px;
  }

  @media(max-width: 768px)  {
    margin-bottom: 24px;
  }
}
